{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.tsx",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.spec.ts",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.json",
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always"
      }
    },
    {
      "files": "src/mapeadores/__test__/pokemon.spec.ts",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
